{% extends 'base.html' %}
{% load static %}
{% block title %} django pagination {% endblock %}

{% block content %}

<div class="container">
      <div class="row">
        <div class="col-md-8">
            {% for p in items %}
          <div class="card mb-4">
            <a href="#">
            <img class="card-img-top" src="{{ p.post_image.url }}" alt="Card image cap" height="300px" width="300px">
            </a>
            <div class="card-body">
              <h2 class="card-title"><a href="#">{{ p.post_title }}</a></h2>
               <a href="#">category: {{ p.post_category.name }}</a>
              <p class="card-text">{{ p.post_body|truncatewords:25|safe }}</p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted"> Posted on:{{ p.posted_on }} ||  Posted By:
              <a href="#">{{ p.post_author.auth_name }}</a>
            </div>
          </div>
            {% endfor %}
          <!-- Pagination -->
	   {% include "pagination.html" %}
        </div>
       
{% endblock %}
{% block script %}

{% endblock %}
