{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href= "{% static 'css/bootstrap.min.css'  %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/bootstrap.css'  %}" type="text/css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>

{% block content %}

<nav aria-label="Page navigation example">
{% if products.has_other_pages %}
  <ul class="pagination">
    {% if products.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Prev</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="">Prev</a></li>
    {% endif %}
    {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class="page-item disabled"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
    {% else %}
      <li class="disabled"><a class="page-link">Next</a></li>
    {% endif %}
  </ul>
{% endif %}
</nav>
{% endblock %}

</body>
</html>
